.most-recent__heading {
		max-width: 980px;
		color: black;
	font-weight: 600;
		text-align: center;
	font-size: 55px;
	font-family: "Didot", sans-serif;
}

@media screen and (max-width: 464px) {
			.most-recent__heading {
				max-width: 100vw;
				font-size: 25px;
}
}